
Laboratorios/Lab 0/lab00/picachuYoTeElijo
Laboratorios/Lab 1/ej1/reader
Laboratorios/Lab 1/ej2/reader
*.gz
Laboratorios/Lab 0/lab00/tictactoe_gen5
*.o
Laboratorios/Lab 0/lab00/tictactoe_gen5
Laboratorios/Lab 1/ej4/reader
Laboratorios/Lab 1/ej5/reader
Laboratorios/Lab 1/ej6/reader
Laboratorios/Lab 1/ej3/reader
Laboratorios/Lab 0/lab00/tictactoe_gen5
Laboratorios/Lab 2/ej0/reader
Laboratorios/Lab 2/ej1/reader
Laboratorios/Lab 2/ej2/reader
Laboratorios/Lab 2/ej3/reader
Laboratorios/Lab 2/ej4/reader
Laboratorios/Lab 2/ej5/reader
*.o_32
*.o_macos
Laboratorios/Lab 2/ej1/sorter
Laboratorios/Lab 2/ej2/sorter
Laboratorios/Lab 2/ej5/word_sorter
Laboratorios/Lab 3/ej1/mio
*.out
Laboratorios/Lab 3/ej2/mio
Laboratorios/Lab 3/ej3/mio
Laboratorios/Lab 4/ej1/mio
Laboratorios/Parciales Viejos/Parcial 1/mio
Laboratorios/Parciales Viejos/Parcial 1.1/mio
Laboratorios/Lab 4/ej3/mio
